<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; chatset=UTF-8" />
	<meta name="description" content="Сайт для любителей хорошей музыки" />
	<title>Nurmach</title>
	<link href="Нур.css" rel="stylesheet" type="text/css" />
	<link href="Pho/Icon.jpeg" rel="shortcut icon" type="image/x-icon" />
	<script src="JS.js"></script>
	<style>
		img {
				margin-top: 10px;
		}
	</style>
</head>
<body>
	<header>
		<a href="Nurmain.html" title="На главную" id="logo">Нурмач</a><span id="About"><a href="About.html" title="Вся инфа" >О Нурминском</a></span>
		<div class="dropdown">
		<input type="text" placeholder="Искать трек" id="myInput" onclick="myFunction()" onkeyup="filterFunction()"><br />
		<div id="myDropdown" class="dropdown-content">
			<a href="#">Джип</a>
			<a href="#">Ауф</a>
			<a href="#">Мент</a>
			<a href="#">Black Guard</a>
			<a href="#">Валим</a>
			<a href="#">Зашумел район</a>
			<a href="#">А я еду порш</a>
		</div>
		</div>
		<span class="contact"><a href="Reg.html" title="Регистрация">Засуетиться</a></span><span class="contact"><a href="#okno" title="Войти">Вьехать</a></span>
		<div id="okno">
		<h3>Вьехать в свой аккаунт</h3></br>
		<form action="" method="post">
			<label for="log">Введи погремуху</label>
			<input type="text"  id="logE" name="logE" placeholder="login" />
			<label for="pass">Введи шифр</label>
			<input type="text" id="passE" name="passE" placeholder="password" />
			<input type="submit" id="ent" name="ent" value="Вьехать" />
		</form>
		<a href="#" class="close">Закрыть окно</a>
		</div>
	</header>
	<center>
		<br /><img src="Pho/Фон.jpg" alt="Фон" title="Фон" />
		<div id="menu">Биография</div><br /><hr><br />
		<div id="AboutN">
		<p>Альбе́рт Аза́тович Шарафутди́нов (тат. Альберт Азат Улы Шәрәфетдинов, род. 1 марта 1994, Норма, Балтасинский район, Татарстан, Россия), более известный как Нурминский — российский хип-хоп исполнитель из Татарстана. Псевдоним взял в честь села, в котором родился (тат. Нурма)	
		
		Альберт Шарафутдинов родился в селе Норма Балтасинского района Татарстана. Отец — татарин, мать — русская. Старшего брата зовут Тимур. Отец владел СТО, а мать работала лором в районной больнице.

Окончил русскоязычную гимназию в соседнем посёлке Балтаси. По окончании школы поступил в Казанский автотранспортный техникум. Во время учёбы год отслужил в авиационной части ВВС РФ. По окончании техникума предпринимал попытки поступить в строительный институт, однако обе попытки не увенчались успехом.

С детства слушает песни 50 Cent, Эйкона и Эминема. В тринадцать лет записал первую песню, которую опубликовал в ВКонтакте.

В 2017 году получил первую широкую известность после выхода песни «Мент на меня газует». Песня изначально была загружена ВКонтакте исполнителем. Позже, неизвестный загрузил песню на цифровые площадки под своим авторством, которая начала набирать популярность, набрав 8 миллионов просмотров на YouTube. В итоге Нурминский вернул себе авторские права на песню и записал новую версию песни на студии Black Star.

18 сентября 2019 года вышел дебютный студийный альбом «Пацаны с улиц выбиваются в люди» состоящий из 10 треков. В поддержку альбома отправился в гастрольный тур по России.

На 2020 год запланирован выход фильма «Статус», в котором Нурминский снялся в роли самого себя, а также его песни будут присутствовать в саундтреке к фильму.</p>
		</div>
	</center>
	<footer>   
		<div id="Foot">Все права защищены &copy; 2021</div>         
	</footer>
</body>
</html>
